 <div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
 <h2>Register</h2>

<%= render 'form', movie: @movie %><br>

<%= link_to 'Back', movies_path, class: "button" %>
</div>